<br>
<h1 class="text-center">Agent Star</h1>
<p class="text-center text-secondary">(Prototype)</p>
<br>
<h4 class="text-center">Bringing third party Agencies closer to Maersk</h4>

<br>
<%#= pie_chart User.group(:email).count %>
